*.lo
*.o
.deps
.libs
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libskin.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
TAGS
libskin/TAGS
libskin/.deps
libskin/.libs
docs/Makefile
docs/Makefile.in
docs/reference/Makefile
docs/reference/Makefile.in
docs/reference/html

